<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
	<appSettings>
      <add key="APROM_Enable" value="True" />
      <add key="APROM_File_Path" value="" />
      <add key="LDROM_Enable" value="False" />
      <add key="LDROM_File_Path" value="" />
      <add key="CONFIG_Enable" value="False" />
      <add key="CONFIG0" value="EB" />
      <add key="CONFIG1" value="FF" />
      <add key="CONFIG2" value="FF" />
      <add key="CONFIG4" value="FF" />
      <add key="Read_File_Save_Path" value="" />
      <add key="Erase_Chip_Enable" value="False" />
      <add key="Verify_Enable" value="False" />
      <add key="Open_COM_Enable" value="True" />
      <add key="Run_Enable" value="True" />
      <add key="Less_Erase_Enable" value="True" />
      <add key="Baud_Rate" value="3" />
      <add key="LDROM_BEGIN_ADDR" value="4000" />
      <add key="COM_HEX_Enable" value="False" />
   </appSettings>
</configuration>
